# Dependencies
node_modules/

# OS Generated
.DS_Store

# IDE/Editor
.vs/

# Project Specific Cache
google-sheets-cache/

# Logs and Debugging
*.log
firebase-debug.log

# Security (Secrets)
.env
*.json
!firebase.json
!package.json
!package-lock.json
!**/package.json
!**/package-lock.json
!**/.firebaserc
service-account.json
**/service-account.json
