@use "../custom" as *;

.btn-rounded {
  position: relative;
  padding: 0.9375rem 3.375rem 0.9375rem 1.25rem;
  font-weight: 700;
  margin: 0;
  border: 0.1rem solid rgba($white, 0.6);
  background-color: $white;

  span {
    position: absolute;
    background-color: $primary;
    width: 2.5rem;
    height: 2.5rem;
    top: 50%;
    right: 5px;
    transform: translateY(-50%);
    border-radius: 50%;
    color: $white;

    img {
      position: absolute;
      width: 1.9rem;
      height: 1.9rem;
      top: 50%;
      right: 5px;
      transform: translateY(-50%);
    }

    i {
      transform: translateY(50%);
    }
  }

  &:hover {
    background-color: $primary;
    color: $white;
  }
}

.btn-rounded-input {
  position: relative;
  background-color: $white;
  width: 2.5rem;
  height: 2.5rem;
  right: 55px;
  border: none;
  border-radius: 50%;
  color: $primary;

  &:hover {
    background-color: $primary;
    color: $white;
  }
}
