@use "../custom" as *;

@use "../custom" as *;
@use "../components/mixins" as *;

// STYLE THE BACK TO TOP
.back-to-top {
  position: fixed;
  width: 3rem;
  height: 3rem;
  right: 1.875rem;
  bottom: 1.875rem;
  z-index: 9999;
  background-color: $secondary;

  img {
    width: 2.5rem;
    height: 2.5rem;
    @include absoluteCenter;
  }
}

// STYLE THE BACK TO TOP
.stay {
  position: fixed;
  width: 3rem;
  height: 3rem;
  left: 1.875rem;
  bottom: 1.875rem;
  z-index: 9999;
  background-color: $secondary;

  img {
    width: 2.5rem;
    height: 2.5rem;
    @include absoluteCenter;
  }
}

.footer {
  background-color: $primary;
  .container {
    .row {
      color: $white;
      font-family: "Poppins";

      .dcr {
        width: 85%;
        display: block;
        height: 4px;
        background-color: $secondary;
        margin: 70px auto 0 auto;

        @include media-breakpoint-up(sm) {
          width: 85%;
          margin: 97px auto 0 auto;
        }
      }

      .box {
        display: flex;
        justify-content: space-between;
        align-items: start;
        font-size: 16px;
        flex-direction: column;

        h5 {
          font-size: 20px;
          font-weight: 700;
          margin-bottom: 22px;

          @include media-breakpoint-up(sm) {
            font-size: 28px;
          }
        }

        .address {
          font-weight: 400;
          margin-bottom: 40px;

          address {
            margin-bottom: 10px;
          }

          span {
            display: block;
            font-size: 12px;
            color: #6c757d;

            @media media-breakpoint-up {
            }
          }

          @include media-breakpoint-up(sm) {
            margin-bottom: 0px;
          }
        }

        .links {
          font-weight: 400;

          ul {
            display: block;
            list-style-type: none;
            position: relative;
            list-style-position: inside;
            margin-bottom: 50px;

            li {
              margin-bottom: 0.5rem;
              text-decoration: none;
              margin-left: -32px;

              a {
                color: $white;
                text-decoration: none;

                &:hover {
                  color: $secondary;
                }
              }
            }

            @include media-breakpoint-up(sm) {
              margin-bottom: 0px;
            }
          }
        }

        .contact-us {
          margin-bottom: 37px;

          ul {
            display: block;
            list-style-type: none;
            position: relative;
            list-style-position: inside;

            li {
              margin-bottom: 0.5rem;
              text-decoration: none;
              margin-left: -32px;
              color: $white;
              text-decoration: none;
              font-weight: 400;

              span.bold-font {
                font-weight: 600;
              }
            }
          }
          .social-media {
            display: flex;
            justify-content: space-between;
            width: 70%;

            img {
              width: 30px;
              height: auto;
              vertical-align: baseline;
            }
          }

          i {
            color: $white;
            font-size: 30px;
          }

          @include media-breakpoint-up(sm) {
          }
        }

        @include media-breakpoint-up(sm) {
          font-size: 20px;
          display: flex;
          justify-content: space-between;
          align-items: start;
          flex-direction: row;
        }

        @include media-breakpoint-down(sm) {
          padding-left: 30px;
        }
      }
    }

    .cprght {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;

      img {
        display: block;
        width: 100px;
        height: auto;
        padding: 0;
        margin: 10px 0;

        @include media-breakpoint-up(sm) {
          width: 181px;
          height: auto;
          margin: 20px 0;
        }
      }

      .dcr2 {
        width: 70%;
        height: 1.5px;
        background-color: $secondary;

        @include media-breakpoint-up(sm) {
          width: 70%;
        }
      }

      p {
        margin: 10px 0;
        font-size: 10px;

        @include media-breakpoint-up(sm) {
          font-size: 16px;
          margin: 20px 0;
        }
      }
    }
  }
}
