@use "../custom" as *;

.menu {
  li {
    padding: 0 0.7rem;

    a {
      color: $white !important;
      text-transform: capitalize;
      font-weight: 600;
    }
  }

  img {
    @include media-breakpoint-down(sm) {
      width: 7rem;
      height: auto;
    }

    width: 9rem;
    height: auto;
  }
}
